[Unit]
Description=9-9-9 Challenge Cloudflare Tunnel
After=network-online.target 999-api.service
Wants=network-online.target
Requires=999-api.service

[Service]
Type=simple
User=austinzani
ExecStart=/usr/bin/cloudflared --config /home/austinzani/9-9-9-Challenge/infra/cloudflared/config.yml tunnel run
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
